dominate==2.4.0
numpy==1.19.2
Pillow==8.1.1
pyzmq==22.0.3
six==1.15.0
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
cudatoolkit==10.1.243
mkl==2020.2
opencv=3.4.2
py-opencv==3.4.2
pytorch==1.7.1
tk==8.6.10
zeromq==4.3.3